@{
    _exactMatchWrapper = null;
    foreach (var x in _fileTemplatesFormWrappersList)
    {
        if (FileName.EndsWith('.' + x.FileTemplate.FileExtensionNoPeriod))
        {
            _exactMatchWrapper = x;
            break;
        }
    }

    GetRelatedFileTemplates();
    
    foreach (var relatedMatchWrapper in _relatedMatchWrappersList)
    {
        <div @key="relatedMatchWrapper.FileTemplate.Id">
            <input type="checkbox" @bind="@relatedMatchWrapper.IsChecked" />
            @relatedMatchWrapper.FileTemplate.DisplayName?
        </div>
    }
}
